
.contenedor {
  background: url(../img/cuadros.jpg);
  background-position: center center;
  background-repeat: repeat;
  background-size: cover;
 background-attachment: fixed;
}

.usuario{width: 30px;}


.contenido{
  background-color: rgba(63, 127, 191, 0.3);}
  }

.comen{ border:solid 1px black;
	border-radius: 2px;}