/* Clase para darle estilos al body */
.mi-blog {width: 90%;
  min-height: 100px;
   background-color: rgba(8, 45, 94, 0.95);
  /*background-color:pink;
  /*display: inline-block;*/
  margin-left: 5%;

}

.logo-cabecera{
  min-height: 100px;
  top: 0px;
  }
  
.logo-img{height: 100px;}

.redes-sociales{
  min-height: 100px;
  }

.imagenes{
     margin-top: 50px;}

.img-social {
  width: 40px;
  height: 40px;
}

.nav{width: 100%;
  background-color:#33D1FF;
}


/*@media (max-width: 770px) {
   .nav-item{background-color:red;
}*/

.nav-item{background-color:#33D1FF;

  }

.container{
  min-height: 100px;
  background-color: grey;
  margin-top: 10px;
}

.contenido-blog{
  min-height: 100px;
  /*border:solid 1px black;*/
}
.articulo-1{
  min-height: 100px;
}

/*.imagen-articulo{
  position: center;
}*/

.img-articulo{
  
  position: center;
}

.glyphicon-user {
    font-size: 50px;
}

.buscador-blog{
  min-height: 100px;
}

.comenta{
  padding: 5px;
}

.lupa-img {
    font-size:20px;
   }

.list-group{min-height: 100px;}